<html>
  <head>
    <meta charset="UTF-8">
    <title>Keebler Encrypted</title>
  </head>
    
  <body>
    <h1>New Room</h1>
    <form method="POST" action='/createRoom'>
        <input type="text" name="name" placeholder="roomName" autocomplete="off" required>
        <select name="users" size="8" multiple>
          <% Users.forEach(function(user) { %>
            <option>
               <%= user.name %>
            </option>  
          <% }) %>  
        </select>
        <input type="submit" value="Create Room">
    </form>
    <div id="content">
    </div>
    
  </body>

</html>