<html>
  <head>
    <meta charset="UTF-8">
    <title>Keebler Encrypted</title>
  </head>

  <body>
    <h1>Login</h1>
    <form method="POST" action='/auth/google'>
        <input type="text" name="name" placeholder="username" autocomplete="off" required>
        <input type="text" name="password" placeholder="password" autocomplete="off" required>
        <input type="submit" value="submit">
    </form>

    <button id="registerButton">Sign Up</button>
    <script type="text/javascript">
        document.getElementById('registerButton').onclick = function() {
            location.href = '/register';
        };
    </script>
    <%if (incorrectCredentials) { %>
        <p>User and/or password is incorrect. Please try again or sign up.</p>
    <% } %>
  </body>

</html>
