<html>
  <head>
    <meta charset="UTF-8">
    <title>Keebler Encrypted</title>
  </head>
    
  <body>
    <h1>Register</h1>
    <form method="POST" action='/register'>
        <input type="text" name="name" placeholder="username" autocomplete="off" required>
        <input type="text" name="password" placeholder="password" autocomplete="off" required>
        <input type="submit" value="submit">
    </form>
    <%if (usernameTaken) { %>
      <p>That username has been taken. Please choose another.</p> 
    <% } %>
  </body>

</html>
    